
.button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #56B4B8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #47a7aa; 
  }
  

  .user-list-container {
    margin: 16px;
  }
  
  .table-header {
    background-color: #56B4B8;
    color: white;
  }
  
  .user-row:nth-child(even) {
    background-color: #f4fafa; 
  }
  
  .user-row:hover {
    background-color: #e0f2f2; 
  }
  